tests/my_tests.py
stats/.Rhistory
adr_dwi.egg-info
*__pycache__*
*.DS_Store
manuscript/dwi_gam_manuscript.aux
manuscript/dwi_gam_manuscript.log
manuscript/dwi_gam_manuscript.out
manuscript/dwi_gam_manuscript.synctex.gz
manuscript/dwi_gam_manuscript-blx.bib
manuscript/dwi_gam_manuscript.bbl
manuscript/dwi_gam_manuscript.bcf
manuscript/dwi_gam_manuscript.blg
manuscript/dwi_gam_manuscript.run.xml
manuscript/dwi_gam_manuscript.fls
manuscript/dwi_gam_manuscript.fdb_latexmk
manuscript/submission_docs/cover_letter/dwi_gam_cover_letter.aux
manuscript/submission_docs/cover_letter/dwi_gam_cover_letter.fdb_latexmk
manuscript/submission_docs/cover_letter/dwi_gam_cover_letter.fls
manuscript/submission_docs/cover_letter/dwi_gam_cover_letter.log
manuscript/submission_docs/cover_letter/dwi_gam_cover_letter.out
manuscript/submission_docs/cover_letter/dwi_gam_cover_letter.synctex.gz
manuscript/dwi_gam_manuscript_short.aux
manuscript/dwi_gam_manuscript_short.log
manuscript/dwi_gam_manuscript_short.out
manuscript/dwi_gam_manuscript_short.synctex.gz
manuscript/dwi_gam_manuscript_short-blx.bib
manuscript/dwi_gam_manuscript_short.bbl
manuscript/dwi_gam_manuscript_short.bcf
manuscript/dwi_gam_manuscript_short.blg
manuscript/dwi_gam_manuscript_short.run.xml
manuscript/dwi_gam_manuscript_short.fls
manuscript/dwi_gam_manuscript_short.fdb_latexmk